@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *:focus { outline: none!important; }
a, a:hover { text-decoration: none; }
a, label, button { cursor: pointer; user-select: none; }
p { margin-bottom: 0; line-height: 1.8em; }
label { margin-bottom: 0; }
.form-group > label { margin-bottom: 0.5em; }
hr { width: 30px; height:1px; background-color: #333; border: none; margin-bottom: 0.7em; }
.py-6 { padding-top: 5em; padding-bottom: 5em; }

.summary {
    height: calc(1.8em * 2);
    line-height: 1.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.keep-all { word-break: keep-all; }
.fit-cover { width: 100%; height: 100%; object-fit: cover; }
.fit-contain { width: 100%; height: 100%; object-fit: contain; }
.align-center { display: flex; align-items: center; }
.d-between { display: flex; justify-content: space-between; align-items: center; }
.d-center { display: flex; justify-content: center; align-items: center; }
.position-center { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); }
.text-ellipsis { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.pre-line, .auto-line { white-space: pre-line; }
@media(max-width: 576px) { .auto-line { white-space: normal; } }



.pickable { transition: 0.35s; background-color: #fff; position: relative; }
.pickable::before,
.pickable::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    background-color: #fff;
    transition: 0.35s;
    box-shadow: 0 3px 5px #000a;
    z-index: -1;
}
.pickable:hover { transform: translateY(-1em) }
.pickable:hover::before { transform: rotate(-10deg); background-color: #ec8369; }


.accent-box { position: relative; box-shadow: 0 3px 5px #0008; }
.accent-box::after {
    content: '';
    position: absolute;
    left: 1.5em; top: 1.5em;
    width: 100%; height: 100%;
    background-image: url(../images/accent.jpg);
    /* background-color: #ec8369; */
    z-index: -1;
    box-shadow: inset 0 3px 5px #0008;
}


.text-red { color: #ec8369!important; }
.text-yellow { color: #ecbe67!important; }
.text-gray { color: #fffc!important; }

.bg-dark { background-color: #333!important; }
.bg-red { background-color: #ec8369!important; }
.bg-yellow { background-color: #ecbe67!important; }
.bg-paper { background-color: #f8f3e8!important; }


.hx-50 { height: 50px!important; }
.hx-100 { height: 100px!important; }
.hx-150 { height: 150px!important; }
.hx-200 { height: 200px!important; }
.hx-250 { height: 250px!important; }
.hx-300 { height: 300px!important; }
.hx-350 { height: 350px!important; }
.hx-400 { height: 400px!important; }


.fx-n3 { font-size: 0.85em; }
.fx-n2 { font-size: 0.9em; }
.fx-n1 { font-size: 0.95em; }

.fx-1 { font-size: 1em; }
.fx-2 { font-size: 1.1em; }
.fx-3 { font-size: 1.2em; }
.fx-4 { font-size: 1.4em; }
.fx-5 { font-size: 1.6em; }
.fx-6 { font-size: 1.8em; }
.fx-7 { font-size: 2em; }
.fx-8 { font-size: 2.4em; }



button { background-color: transparent; border: none; }
[class^="btn"] { padding: 0.5em 1em; font-size: 0.9em; transition: 0.35s; }

.btn-filled {
    background-color: #ecbe67;
    color: #fff;
}
.btn-filled:hover { 
    background-color: #ec8369;
    color: #fff;
}

.btn-bordered {
    border: 1px solid #ecbe67;
    color: #ecbe67;
}
.btn-bordered:hover {
     border-color: #ec8369;
     color: #ec8369;
}

.btn-custom {
    position: relative;
    border: 1px solid #ecbe67;
    color: #ecbe67;
}
.btn-custom--white {
    border: 1px solid #fff;
    color: #fff;
}
.btn-custom::before,
.btn-custom::after {
    content: '';
    position: absolute;
    width: 0; height: 5px;
    background-color: #ec8369;
    transition: 0.35s;
}
.btn-custom::before { left: 0; top: 0; }
.btn-custom::after { right: 0; bottom: 0; }

.btn-custom:hover { background-color: #ec8369; color: #fff; border-color: transparent; }
.btn-custom:hover::before, .btn-custom:hover::after { width: 100%; }



.t-head, .t-row { display: flex; align-items: center; text-align: center; }
.t-head { border-top: 1px solid #ddd; border-bottom: 3px double #ddd; font-size: 0.9em; background-color: #f7f7f7; height: 50px; line-height: 50px; }
.t-row { min-height: 50px; padding: 0.5em 0; border-bottom: 1px solid #ddd; }


.cell--justify { text-align: justify; height: 50px; line-height: 1.2em; }
.cell--justify::before, .cell--justify::after { content: ''; width: 100%; display: inline-block; }
.cell-10 { max-width: 10%; flex: 0 0 10%; }
.cell-20 { max-width: 20%; flex: 0 0 20%; }
.cell-30 { max-width: 30%; flex: 0 0 30%; }
.cell-40 { max-width: 40%; flex: 0 0 40%; }
.cell-50 { max-width: 50%; flex: 0 0 50%; }
.cell-60 { max-width: 60%; flex: 0 0 60%; }
.cell-70 { max-width: 70%; flex: 0 0 70%; }
.cell-80 { max-width: 80%; flex: 0 0 80%; }
.cell-90 { max-width: 90%; flex: 0 0 90%; }


.icon { width: 2em; height: 2em; display: inline-flex; justify-content: center; align-items: center; }
.title { font-size: 1.1em; font-weight: 600; }
.text-title { 
    font-weight: 500;
    font-size: 1.6em;
    line-height: 2em;
    white-space: pre-line;
    word-break: keep-all;
    color: #555;
 }



.background,
.background::after,
.background > img
{ position: absolute; width: 100%; height: 100%; left: 0; top: 0; }

.background { z-index: -1; }
.background::after { content: ''; }
.background > img { object-fit: cover; }

.background--red::after { background-color: #352c31d8; }
.background--black::after { background-color: #00000083; }


header {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    z-index: 1030;
    height: 70px;
    background-color: #000a;
}


.nav {
    display: flex;
    height: 100%;
}

.nav__item {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 1em;
    margin: 0 0.3em;
}
.nav__item > a {
    font-size: 0.9em;
    color: #fffc;
}

.nav__list {
    position: absolute;
    left: 50%; top: 100%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: -1em;
    opacity: 0;
    transition: 0.25s;
    padding-top: 0.5em;
    pointer-events: none;
}
.nav:hover .nav__list { opacity: 1; margin-top: 0; pointer-events: all; }

.nav__list > a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 0.85em;
    color: #fffa;
    text-align: center;
}

.nav__background {
    position: absolute;
    left: 0; top: 100%;
    width: 100%; height: 0;
    background-color: #000a;
    transition: 0.35s;
    z-index: -1;
}
.nav:hover .nav__background { height: 100px; }

.auth > a {
    margin-left: 1em;
    font-size: 0.8em;
    color: #fffc;
}

.icon-bars {
    display: block;
    width: 1.8em;
    height: 1.8em;
}

.icon-bars > span {
    display: block;
    width: 100%;
    height: 0;
    border-top: 2px solid #fffa;
    margin-top: 0.6em;
    margin-left: auto;
}
.icon-bars > span:nth-child(1) { width: 100%; margin-top: 0; }
.icon-bars > span:nth-child(2) { width: 70%; }
.icon-bars > span:nth-child(3) { width: 60%; }


aside {
    position: fixed;
    left: 0; top: 0;
    width: 100%; height: 100%;
    z-index: 2000;
    pointer-events: none;
}

#open-aside:checked ~ aside { pointer-events: all; }

.aside__background {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: 0;
    background-color: #000a;
    transition: 0.5s;
}
#open-aside:checked ~ aside .aside__background { opacity: 1; }

.aside__content {
    position: absolute;
    right: 0; top: 0;
    width: 400px; height: 100%;
    background-color: #fff;
    margin-right: -400px;
    transition: 0.5s;
}
#open-aside:checked ~ aside .aside__content { margin-right: 0; }

.nav--aside { margin-left: 1em; flex-direction: column; margin-top: 2em; }
.nav--aside .nav__item { margin-bottom: 100px; }
.nav--aside .nav__item > a { color: #333; font-size: 1.2em; }
.nav--aside .nav__list { opacity: 1; margin-top: 0; padding: 0; }
.nav--aside .nav__list > a { color: #555; text-align: left; padding-left: 1.5em; font-size: 1.1em; }

.auth--aside { margin-left: 1em; margin-top: 2em; }
.auth--aside a { color: #555; font-size: 0.9em; }



.visual {
    height: 500px;
    position: relative;
    overflow: hidden;
}
.visual--sub { height: 350px; }
.visual__images img {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}
.visual__texts {
    position: absolute;
    left: 20px; top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.visual__texts .text { 
    position: absolute;
    font-weight: 100;
    font-size: 2.2em;
    line-height: 2em;
    text-shadow: 0 3px 5px #0005;
    color: #fff;
    white-space: pre-line;
    word-break: keep-all;
}
.visual__texts .text strong { font-weight: 600; }

.visual__controls {
    position: absolute;
    left: 20px; bottom: 1em;
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    height: 2em;
}

.visual__controls .control {
    position: relative;
    display: inline-block;
    width: 0.5em; height: 0.5em;
    background-color: #fff8;
    border-radius: 0.25em;
    margin: 0 0.2em;
    transition: 0.35s;
}
.visual__controls .control:hover { width: 1.5em; background-color: #fff; }
.visual__controls .control > label {
    position: absolute; width: 100%; height: 100%;
    left: 0; top: 0;
}


@media(max-width: 576px) {
    .visual__texts { height: 200px; white-space: normal; }
}


@keyframes img-1 {
    0%      { opacity: 1; }
    25%     { opacity: 1; }

    33.33%  { opacity: 0; }
    58.33%  { opacity: 0; }

    66.66%  { opacity: 0; }
    91.66%  { opacity: 0; }

    100%    { opacity: 1; }
}
@keyframes img-2 {
    0%      { opacity: 0; }
    25%     { opacity: 0; }

    33.33%  { opacity: 1; }
    58.33%  { opacity: 1; }

    66.66%  { opacity: 0; }
    91.66%  { opacity: 0; }

    100%    { opacity: 0; }
}
@keyframes img-3 {
    0%      { opacity: 0; }
    25%     { opacity: 0; }

    33.33%  { opacity: 0; }
    58.33%  { opacity: 0; }

    66.66%  { opacity: 1; }
    91.66%  { opacity: 1; }

    100%    { opacity: 0; }
}


@keyframes img-1-copy {
    0%      { opacity: 1; }
    25%     { opacity: 1; }

    33.33%  { opacity: 0; }
    58.33%  { opacity: 0; }

    66.66%  { opacity: 0; }
    91.66%  { opacity: 0; }

    100%    { opacity: 1; }
}
@keyframes img-2-copy {
    0%      { opacity: 0; }
    25%     { opacity: 0; }

    33.33%  { opacity: 1; }
    58.33%  { opacity: 1; }

    66.66%  { opacity: 0; }
    91.66%  { opacity: 0; }

    100%    { opacity: 0; }
}
@keyframes img-3-copy {
    0%      { opacity: 0; }
    25%     { opacity: 0; }

    33.33%  { opacity: 0; }
    58.33%  { opacity: 0; }

    66.66%  { opacity: 1; }
    91.66%  { opacity: 1; }

    100%    { opacity: 0; }
}


@keyframes show-hide {
    0%      { opacity: 0; }
    20%     { opacity: 1; }
    80%     { opacity: 1; }
    100%    { opacity: 0; }
}
@keyframes hide-show {
    0%      { opacity: 1; }
    20%     { opacity: 0; }
    80%     { opacity: 0; }
    100%    { opacity: 1; }
}

@keyframes show-hide-copy {
    0%      { opacity: 0; }
    20%     { opacity: 1; }
    80%     { opacity: 1; }
    100%    { opacity: 0; }
}
@keyframes hide-show-copy {
    0%      { opacity: 1; }
    20%     { opacity: 0; }
    80%     { opacity: 0; }
    100%    { opacity: 1; }
}

.visual__images > img {
    animation-duration: 12s;
    animation-delay: calc(-12s + 1s);
    animation-iteration-count: infinite;
    opacity: 0;
}

#move-3-1:checked ~ .visual img:nth-child(1) { animation-name: img-1; }
#move-3-1:checked ~ .visual img:nth-child(2) { animation-name: img-2; }
#move-3-1:checked ~ .visual img:nth-child(3) { animation-name: img-3; }

#move-1-2:checked ~ .visual img:nth-child(1) { animation-name: img-3; }
#move-1-2:checked ~ .visual img:nth-child(2) { animation-name: img-1; }
#move-1-2:checked ~ .visual img:nth-child(3) { animation-name: img-2; }

#move-2-3:checked ~ .visual img:nth-child(1) { animation-name: img-2; }
#move-2-3:checked ~ .visual img:nth-child(2) { animation-name: img-3; }
#move-2-3:checked ~ .visual img:nth-child(3) { animation-name: img-1; }

#move-1-3:checked ~ .visual img:nth-child(1) { animation-name: hide-show, img-1; }
#move-1-3:checked ~ .visual img:nth-child(2) { animation-name: img-2; }
#move-1-3:checked ~ .visual img:nth-child(3) { animation-name: show-hide, img-3; }

#move-2-1:checked ~ .visual img:nth-child(1) { animation-name: show-hide, img-3; }
#move-2-1:checked ~ .visual img:nth-child(2) { animation-name: hide-show, img-1; }
#move-2-1:checked ~ .visual img:nth-child(3) { animation-name: img-2; }

#move-3-2:checked ~ .visual img:nth-child(1) { animation-name: img-2; }
#move-3-2:checked ~ .visual img:nth-child(2) { animation-name: show-hide, img-3; }
#move-3-2:checked ~ .visual img:nth-child(3) { animation-name: hide-show, img-1; }

#move-1-3:checked ~ .visual img:nth-child(1),
#move-1-3:checked ~ .visual img:nth-child(3),
#move-2-1:checked ~ .visual img:nth-child(1),
#move-2-1:checked ~ .visual img:nth-child(2),
#move-3-2:checked ~ .visual img:nth-child(2),
#move-3-2:checked ~ .visual img:nth-child(3) {
    animation-duration: 5s, 12s;
    animation-delay: 0s, 5s;
    animation-iteration-count: 1, infinite;
}

#move-1-3:checked ~ .visual img:nth-child(2),
#move-2-1:checked ~ .visual img:nth-child(3),
#move-3-2:checked ~ .visual img:nth-child(1) {
    animation-delay: 5s;
}

#move-3-1-copy:checked ~ .visual img:nth-child(1) { animation-name: img-1-copy; }
#move-3-1-copy:checked ~ .visual img:nth-child(2) { animation-name: img-2-copy; }
#move-3-1-copy:checked ~ .visual img:nth-child(3) { animation-name: img-3-copy; }

#move-1-2-copy:checked ~ .visual img:nth-child(1) { animation-name: img-3-copy; }
#move-1-2-copy:checked ~ .visual img:nth-child(2) { animation-name: img-1-copy; }
#move-1-2-copy:checked ~ .visual img:nth-child(3) { animation-name: img-2-copy; }

#move-2-3-copy:checked ~ .visual img:nth-child(1) { animation-name: img-2-copy; }
#move-2-3-copy:checked ~ .visual img:nth-child(2) { animation-name: img-3-copy; }
#move-2-3-copy:checked ~ .visual img:nth-child(3) { animation-name: img-1-copy; }

#move-1-3-copy:checked ~ .visual img:nth-child(1) { animation-name: hide-show-copy, img-1-copy; }
#move-1-3-copy:checked ~ .visual img:nth-child(2) { animation-name: img-2-copy; }
#move-1-3-copy:checked ~ .visual img:nth-child(3) { animation-name: show-hide-copy, img-3-copy; }

#move-2-1-copy:checked ~ .visual img:nth-child(1) { animation-name: show-hide-copy, img-3-copy; }
#move-2-1-copy:checked ~ .visual img:nth-child(2) { animation-name: hide-show-copy, img-1-copy; }
#move-2-1-copy:checked ~ .visual img:nth-child(3) { animation-name: img-2-copy; }

#move-3-2-copy:checked ~ .visual img:nth-child(1) { animation-name: img-2-copy; }
#move-3-2-copy:checked ~ .visual img:nth-child(2) { animation-name: show-hide-copy, img-3-copy; }
#move-3-2-copy:checked ~ .visual img:nth-child(3) { animation-name: hide-show-copy, img-1-copy; }

#move-1-3-copy:checked ~ .visual img:nth-child(1),
#move-1-3-copy:checked ~ .visual img:nth-child(3),
#move-2-1-copy:checked ~ .visual img:nth-child(1),
#move-2-1-copy:checked ~ .visual img:nth-child(2),
#move-3-2-copy:checked ~ .visual img:nth-child(2),
#move-3-2-copy:checked ~ .visual img:nth-child(3) {
    animation-duration: 5s, 12s;
    animation-delay: 0s, 5s;
    animation-iteration-count: 1, infinite;
}

#move-1-3-copy:checked ~ .visual img:nth-child(2),
#move-2-1-copy:checked ~ .visual img:nth-child(3),
#move-3-2-copy:checked ~ .visual img:nth-child(1) {
    animation-delay: 5s;
}



@keyframes text-1 {
    0%      { transform: translateX(0); opacity: 1; }
    25%     { transform: translateX(0); opacity: 1; }

    33.33%  { transform: translateX(200px); opacity: 0; }
    58.33%  { transform: translateX(200px); opacity: 0; }

    66.66%  { transform: translateX(-200px); opacity: 0; }
    91.66%  { transform: translateX(-200px); opacity: 0; }

    100%    { transform: translateX(0); opacity: 1; }
}
@keyframes text-2 {
    0%      { transform: translateX(-200px); opacity: 0; }
    25%     { transform: translateX(-200px); opacity: 0; }

    33.33%  { transform: translateX(0); opacity: 1; }
    58.33%  { transform: translateX(0); opacity: 1; }

    66.66%  { transform: translateX(200px); opacity: 0; }
    91.66%  { transform: translateX(200px); opacity: 0; }

    100%    { transform: translateX(-200px); opacity: 0; }
}
@keyframes text-3 {
    0%      { transform: translateX(-200px); opacity: 0; }
    25%     { transform: translateX(-200px); opacity: 0; }

    33.33%  { transform: translateX(-200px); opacity: 0; }
    58.33%  { transform: translateX(-200px); opacity: 0; }

    66.66%  { transform: translateX(0); opacity: 1; }
    91.66%  { transform: translateX(0); opacity: 1; }

    100%    { transform: translateX(200px); opacity: 0; }
}

@keyframes text-1-copy {
    0%      { transform: translateX(0); opacity: 1; }
    25%     { transform: translateX(0); opacity: 1; }

    33.33%  { transform: translateX(200px); opacity: 0; }
    58.33%  { transform: translateX(200px); opacity: 0; }

    66.66%  { transform: translateX(-200px); opacity: 0; }
    91.66%  { transform: translateX(-200px); opacity: 0; }

    100%    { transform: translateX(0); opacity: 1; }
}
@keyframes text-2-copy {
    0%      { transform: translateX(-200px); opacity: 0; }
    25%     { transform: translateX(-200px); opacity: 0; }

    33.33%  { transform: translateX(0); opacity: 1; }
    58.33%  { transform: translateX(0); opacity: 1; }

    66.66%  { transform: translateX(200px); opacity: 0; }
    91.66%  { transform: translateX(200px); opacity: 0; }

    100%    { transform: translateX(-200px); opacity: 0; }
}
@keyframes text-3-copy {
    0%      { transform: translateX(-200px); opacity: 0; }
    25%     { transform: translateX(-200px); opacity: 0; }

    33.33%  { transform: translateX(-200px); opacity: 0; }
    58.33%  { transform: translateX(-200px); opacity: 0; }

    66.66%  { transform: translateX(0); opacity: 1; }
    91.66%  { transform: translateX(0); opacity: 1; }

    100%    { transform: translateX(200px); opacity: 0; }
}

@keyframes t-show-hide {
    0%          { transform: translateX(-200px); opacity: 0; }
    20%         { transform: translateX(0%); opacity: 1; }
    80%         { transform: translateX(0%); opacity: 1; }
    100%        { transform: translateX(200px); opacity: 0; }
}
@keyframes t-hide-show {
    0%          { transform: translateX(0%); opacity: 1; }
    20%         { transform: translateX(200px); opacity: 0; }
    80%         { transform: translateX(-200px); opacity: 0; }
    100%        { transform: translateX(0%); opacity: 1; }
}
@keyframes t-show-hide-copy {
    0%          { transform: translateX(-200px); opacity: 0; }
    20%         { transform: translateX(0%); opacity: 1; }
    80%         { transform: translateX(0%); opacity: 1; }
    100%        { transform: translateX(200px); opacity: 0; }
}
@keyframes t-hide-show-copy {
    0%          { transform: translateX(0%); opacity: 1; }
    20%         { transform: translateX(200px); opacity: 0; }
    80%         { transform: translateX(-200px); opacity: 0; }
    100%        { transform: translateX(0%); opacity: 1; }
}


.visual__texts .text {
    animation-duration: 12s;
    animation-delay: calc(-12s + 1s);
    animation-iteration-count: infinite;
    opacity: 0;
}


#move-3-1:checked ~ .visual .text:nth-child(1) { animation-name: text-1; }
#move-3-1:checked ~ .visual .text:nth-child(2) { animation-name: text-2; }
#move-3-1:checked ~ .visual .text:nth-child(3) { animation-name: text-3; }

#move-1-2:checked ~ .visual .text:nth-child(1) { animation-name: text-3; }
#move-1-2:checked ~ .visual .text:nth-child(2) { animation-name: text-1; }
#move-1-2:checked ~ .visual .text:nth-child(3) { animation-name: text-2; }

#move-2-3:checked ~ .visual .text:nth-child(1) { animation-name: text-2; }
#move-2-3:checked ~ .visual .text:nth-child(2) { animation-name: text-3; }
#move-2-3:checked ~ .visual .text:nth-child(3) { animation-name: text-1; }

#move-1-3:checked ~ .visual .text:nth-child(1) { animation-name: t-hide-show, text-1; }
#move-1-3:checked ~ .visual .text:nth-child(2) { animation-name: text-2; }
#move-1-3:checked ~ .visual .text:nth-child(3) { animation-name: t-show-hide, text-3; }

#move-2-1:checked ~ .visual .text:nth-child(1) { animation-name: t-show-hide, text-3; }
#move-2-1:checked ~ .visual .text:nth-child(2) { animation-name: t-hide-show, text-1; }
#move-2-1:checked ~ .visual .text:nth-child(3) { animation-name: text-2; }

#move-3-2:checked ~ .visual .text:nth-child(1) { animation-name: text-2; }
#move-3-2:checked ~ .visual .text:nth-child(2) { animation-name: t-show-hide, text-3; }
#move-3-2:checked ~ .visual .text:nth-child(3) { animation-name: t-hide-show, text-1; }

#move-1-3:checked ~ .visual .text:nth-child(1),
#move-1-3:checked ~ .visual .text:nth-child(3),
#move-2-1:checked ~ .visual .text:nth-child(1),
#move-2-1:checked ~ .visual .text:nth-child(2),
#move-3-2:checked ~ .visual .text:nth-child(2),
#move-3-2:checked ~ .visual .text:nth-child(3) {
    animation-duration: 5s, 12s;
    animation-delay: 0s, 5s;
    animation-iteration-count: 1, infinite;
}

#move-1-3:checked ~ .visual .text:nth-child(2),
#move-2-1:checked ~ .visual .text:nth-child(3),
#move-3-2:checked ~ .visual .text:nth-child(1) {
    animation-delay: 5s;
}

#move-3-1-copy:checked ~ .visual .text:nth-child(1) { animation-name: text-1-copy; }
#move-3-1-copy:checked ~ .visual .text:nth-child(2) { animation-name: text-2-copy; }
#move-3-1-copy:checked ~ .visual .text:nth-child(3) { animation-name: text-3-copy; }

#move-1-2-copy:checked ~ .visual .text:nth-child(1) { animation-name: text-3-copy; }
#move-1-2-copy:checked ~ .visual .text:nth-child(2) { animation-name: text-1-copy; }
#move-1-2-copy:checked ~ .visual .text:nth-child(3) { animation-name: text-2-copy; }

#move-2-3-copy:checked ~ .visual .text:nth-child(1) { animation-name: text-2-copy; }
#move-2-3-copy:checked ~ .visual .text:nth-child(2) { animation-name: text-3-copy; }
#move-2-3-copy:checked ~ .visual .text:nth-child(3) { animation-name: text-1-copy; }

#move-1-3-copy:checked ~ .visual .text:nth-child(1) { animation-name: t-hide-show-copy, text-1-copy; }
#move-1-3-copy:checked ~ .visual .text:nth-child(2) { animation-name: text-2-copy; }
#move-1-3-copy:checked ~ .visual .text:nth-child(3) { animation-name: t-show-hide-copy, text-3-copy; }

#move-2-1-copy:checked ~ .visual .text:nth-child(1) { animation-name: t-show-hide-copy, text-3-copy; }
#move-2-1-copy:checked ~ .visual .text:nth-child(2) { animation-name: t-hide-show-copy, text-1-copy; }
#move-2-1-copy:checked ~ .visual .text:nth-child(3) { animation-name: text-2-copy; }

#move-3-2-copy:checked ~ .visual .text:nth-child(1) { animation-name: text-2-copy; }
#move-3-2-copy:checked ~ .visual .text:nth-child(2) { animation-name: t-show-hide-copy, text-3-copy; }
#move-3-2-copy:checked ~ .visual .text:nth-child(3) { animation-name: t-hide-show-copy, text-1-copy; }

#move-1-3-copy:checked ~ .visual .text:nth-child(1),
#move-1-3-copy:checked ~ .visual .text:nth-child(3),
#move-2-1-copy:checked ~ .visual .text:nth-child(1),
#move-2-1-copy:checked ~ .visual .text:nth-child(2),
#move-3-2-copy:checked ~ .visual .text:nth-child(2),
#move-3-2-copy:checked ~ .visual .text:nth-child(3) {
    animation-duration: 5s, 12s;
    animation-delay: 0s, 5s;
    animation-iteration-count: 1, infinite;
}

#move-1-3-copy:checked ~ .visual .text:nth-child(2),
#move-2-1-copy:checked ~ .visual .text:nth-child(3),
#move-3-2-copy:checked ~ .visual .text:nth-child(1) {
    animation-delay: 5s;
}



@keyframes label-1 {
    0%      { z-index: 1; }
    25%     { z-index: 1; }

    33.33%  { z-index: -1; }
    58.33%  { z-index: -1; }

    66.66%  { z-index: -1; }
    91.66%  { z-index: -1; }

    100%    { z-index: 1; }
}
@keyframes label-2 {
    0%      { z-index: -1; }
    25%     { z-index: -1; }

    33.33%  { z-index: 1; }
    58.33%  { z-index: 1; }

    66.66%  { z-index: -1; }
    91.66%  { z-index: -1; }

    100%    { z-index: -1; }
}
@keyframes label-3 {
    0%      { z-index: -1; }
    25%     { z-index: -1; }

    33.33%  { z-index: -1; }
    58.33%  { z-index: -1; }

    66.66%  { z-index: 1; }
    91.66%  { z-index: 1; }

    100%    { z-index: -1; }
}

.visual__controls > .control > label {
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

#move-2-1:checked ~ .visual .label-1-copy { animation-name: label-1; }
#move-2-1:checked ~ .visual .label-2-copy { animation-name: label-2; }
#move-2-1:checked ~ .visual .label-3-copy { animation-name: label-3; }
#move-3-1:checked ~ .visual .label-1-copy { animation-name: label-1; }
#move-3-1:checked ~ .visual .label-2-copy { animation-name: label-2; }
#move-3-1:checked ~ .visual .label-3-copy { animation-name: label-3; }

#move-1-2:checked ~ .visual .label-1-copy { animation-name: label-3; }
#move-1-2:checked ~ .visual .label-2-copy { animation-name: label-1; }
#move-1-2:checked ~ .visual .label-3-copy { animation-name: label-2; }
#move-3-2:checked ~ .visual .label-1-copy { animation-name: label-3; }
#move-3-2:checked ~ .visual .label-2-copy { animation-name: label-1; }
#move-3-2:checked ~ .visual .label-3-copy { animation-name: label-2; }

#move-2-3:checked ~ .visual .label-1-copy { animation-name: label-2; }
#move-2-3:checked ~ .visual .label-2-copy { animation-name: label-3; }
#move-2-3:checked ~ .visual .label-3-copy { animation-name: label-1; }
#move-1-3:checked ~ .visual .label-1-copy { animation-name: label-2; }
#move-1-3:checked ~ .visual .label-2-copy { animation-name: label-3; }
#move-1-3:checked ~ .visual .label-3-copy { animation-name: label-1; }


#move-2-1-copy:checked ~ .visual .label-1 { animation-name: label-1; }
#move-2-1-copy:checked ~ .visual .label-2 { animation-name: label-2; }
#move-2-1-copy:checked ~ .visual .label-3 { animation-name: label-3; }
#move-3-1-copy:checked ~ .visual .label-1 { animation-name: label-1; }
#move-3-1-copy:checked ~ .visual .label-2 { animation-name: label-2; }
#move-3-1-copy:checked ~ .visual .label-3 { animation-name: label-3; }

#move-1-2-copy:checked ~ .visual .label-1 { animation-name: label-3; }
#move-1-2-copy:checked ~ .visual .label-2 { animation-name: label-1; }
#move-1-2-copy:checked ~ .visual .label-3 { animation-name: label-2; }
#move-3-2-copy:checked ~ .visual .label-1 { animation-name: label-3; }
#move-3-2-copy:checked ~ .visual .label-2 { animation-name: label-1; }
#move-3-2-copy:checked ~ .visual .label-3 { animation-name: label-2; }

#move-2-3-copy:checked ~ .visual .label-1 { animation-name: label-2; }
#move-2-3-copy:checked ~ .visual .label-2 { animation-name: label-3; }
#move-2-3-copy:checked ~ .visual .label-3 { animation-name: label-1; }
#move-1-3-copy:checked ~ .visual .label-1 { animation-name: label-2; }
#move-1-3-copy:checked ~ .visual .label-2 { animation-name: label-3; }
#move-1-3-copy:checked ~ .visual .label-3 { animation-name: label-1; }



#s-paused:checked ~ .visual .fa-pause { display: none; }
#s-paused:not(:checked) ~ .visual .fa-play { display: none; }
#s-paused:checked ~ .visual img,
#s-paused:checked ~ .visual label,
#s-paused:checked ~ .visual .text {
    animation-play-state: paused;
}
#s-paused:checked ~ .visual .control { pointer-events: none; }


.companies {
    display: flex;
    flex-wrap: wrap;
}
.companies > img {
    flex: 0 0 calc(100% / 4);
    max-width: calc(100% / 4);
    width: 100%;
    height: 120px;
    object-fit: contain;
}

.companies > img:nth-child(5) { margin-left: 12.5%; }


@media(max-width: 992px){
    .companies {
        position: relative;
        height: 200px;
        display: block;
        overflow: hidden;
        background: #fff;
    }

    .companies > img {
        max-width: 450px;
        width: 300px;
        height: 100%;
        position: absolute;
        left: 50%; top: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        animation: company 24s infinite;
    }

    .companies > img:nth-child(1) { animation-delay: -3s; }
    .companies > img:nth-child(3) { animation-delay: calc(-24s + 3s * 1); }
    .companies > img:nth-child(4) { animation-delay: calc(-24s + 3s * 2); }
    .companies > img:nth-child(5) { animation-delay: calc(-24s + 3s * 3); }
    .companies > img:nth-child(6) { animation-delay: calc(-24s + 3s * 4); }
    .companies > img:nth-child(7) { animation-delay: calc(-24s + 3s * 5); }
    .companies > img:nth-child(8) { animation-delay: calc(-24s + 3s * 6); }

    #c-paused ~ .icon {
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
        color: #ec8369;
    }

    #c-paused:checked ~ .icon .fa-pause { display: none;  }
    #c-paused:not(:checked) ~ .icon .fa-play { display: none;  }
    #c-paused:not(:checked) ~ .icon { opacity: 0; transition: 0.35s; }
    #c-paused ~ .companies:hover ~ .icon, #c-paused ~ .icon:hover { opacity: 1; }
    #c-paused:checked ~ .companies { filter: brightness(50%); transition: 0.35s; }
    #c-paused:checked ~ .companies img { animation-play-state: paused; }

    @keyframes company {
        0%      { margin-left: -100%; }
        10.41%  { margin-left: -100%; }
        12.5%   { margin-left: 0; }
        22.91%  { margin-left: 0; }
        25%     { margin-left: 100%; }
        100%    { margin-left: 100%; }
    }
}


.hash-module {
    padding: 1em;
    border: 1px;
    border: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hash-module__item {
    padding: 0 0.5em;
    height: 40px;
    line-height: 40px;
    background-color: #ec8369;
    margin: 0.5em;
    color: #fff;
    font-size: 0.9em;
    border-radius: 20px;
    cursor: pointer;
}

.hash-module__input {
    position: relative;
    z-index: 10;
    width: 150px;
    height: 40px;
    line-height: 40px;
    display: flex;
    align-items:center;
    border-bottom: 1px solid #333;
    font-size: 0.9em;
}
.hash-module__input > input {
    border: none;
    background-color: transparent;
    color: #555;
    padding-left: 0.5em;
    height: 40px;
    width: calc(100% - 2em);
}

.example {
    position: absolute;
    left: 0; top: 100%;
    width: 100%;
}
.example__item {
    width: 100%; height: 40px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding-left: 1em;
    font-size: 0.9em;
    line-height: 40px;
}
.example__item:hover { background-color: #f7f7f7; }
.example__item.active { background-color: #eee; }

.buy-count {
    width: 100px;
    padding-left: 0.5em;
    font-size: 0.9em;
    border: none;
    border-bottom: 1px solid #555;
    background-color: transparent;
}


.workspace {
    position: relative;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #ddd;
}
.tool {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 100%;
    border-left: 1px solid #ddd;
}
.tool__item {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #888;
}
.tool__item:hover {  color: #555; }
.tool__item.active { color: #ec8369; }


.help-search { display: flex; align-items: center; }
.help-search input { border: 1px solid #ddd; }

.help-header { display: flex; align-items: center; margin-bottom: -1px; height: 40px; }
.help-header > .tab { height: 40px; line-height: 40px; padding: 0 1em; border: 1px solid #ddd; background-color: #eee; }
.help-header > .tab:not(:last-child) { border-right: none; }

.help-body {
    width: 100%;
    border: 1px solid #ddd;
    padding: 1em;
    line-height: 2em;
}

#focus-select:checked ~ .help-header .select,
#focus-spin:checked ~ .help-header .spin,
#focus-cut:checked ~ .help-header .cut,
#focus-glue:checked ~ .help-header .glue {
    background-color: #fff;
    border-bottom-color: #fff;
}

#focus-select:checked ~ .help-body > :not(.select),
#focus-spin:checked ~ .help-body > :not(.spin),
#focus-cut:checked ~ .help-body > :not(.cut),
#focus-glue:checked ~ .help-body > :not(.glue) {
    display: none;
}

.help-body span.active { padding: 0.1em; background-color: #ecbe67; }


.context-menu {
    position: absolute;
    z-index: 10;
    width: 150px;
}
.context-menu__item {
    border: 1px solid #ddd;
    background-color: #fff;
    padding-left: 1em;
    height: 40px;
    line-height: 40px;
    font-size: 0.9em;
}
.context-menu__item:hover { background-color: #f7f7f7; }